
body {
  margin: 0;
  font-family: "JetBrainsMono-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #080707;
  color: #e5ffff;
  height: 100vh;
  width: 100vw;
}
button,input{
  font-family: "JetBrainsMono-Regular";
}
#root{
  height: 100%;
  width: 100%;
  display: flex;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
