@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

}
@layer components{
    .stack{
        @apply flex flex-col gap-2
    }
    .d-center{
        @apply flex justify-center items-center
    }
    .unlink{
        @apply text-white no-underline
    }
    .unbtn{
        font-size: inherit;
        @apply bg-transparent border-none cursor-pointer text-white m-0 p-0 outline-none
    }    
    .leading-0{
        line-height: 0;
    }
    input[type="text"], input[type="password"],input[type="email"], input[type="number"]{
        font-size: inherit;
    }
    .blur-sm{
        @apply select-none;
    }
    .table-border{
        @apply  border border-collapse border-white [&>*>*>td]:border-white [&>*>*>td]:border [&>*>*>td]:border-solid [&>*>*>th]:border-white [&>*>*>th]:border  [&>*>*>th]:border-solid;
    }
    .z-index-999{
        z-index: 99999999999999999999999999999999;
    }
}
@layer utilities{

}
